- cache @user do
  .gray_bg
    .post_1.gray_lt_bg
      - if current_user.id == @user.id
        %h2="Me"
        = link_to "Edit", edit_user_path(@user)
      - else
        %h2= @user.name || "(no name)"
    
      - if @user.asset_url
        %h3.block="Picture"
        = image_tag @user.asset_url
            