%h1="The internet is full of good stuff"


%h2="Some of it is fun and entertaining"

%h2="But it doesn't stick with you"
%p="(like a saltine)"


%h2="Some of it is thoughtful and creative"

%h2="But it's hard to find."
%p="(like a truffle)"

%h2="OnceThis is for the BEST stuff."
%p="Post the best thing you've seen all day."
%p="See the best things posted by others"