<h2>Listing posts</h2>

<table id="posts-table">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<% if( true ){ %>
  <a href="#/new">New Post</a>
<% } %>
<div class="view_action" action="filter_posts" keys="user_id" values="">My Posts</div>
<div class="view_action" action="filter_posts" keys="user_id" values="">All Posts</div>
<p><%= cuid %></p>