- cache( "#{@post_cache_key}", expires: 1.day ) do
  #posts.gray_bg
  #post_pane.pane_1

  :javascript
    posts_json = #{ @posts.to_json.html_safe };
  
    $(function() {
      Once.Constants.POST_TYPES = #{Post::TYPES}
      window.router = new Once.Routers.PostsRouter({posts: posts_json});
      Backbone.history.start();
    });