#posts.gray_bg
%table#post_pane.pane_1
  %td.pane_btns_1.panel_1
    %a{href: "/posts#/index"}
      %h2.block="CLOSE"
    %h2.block="LIKE"
    %h2.block="COMMENT"
  %td#post_pane_content.panel_1

:javascript
  var Posts = new Backbone.Collection;
  Posts.reset(#{ @posts.to_json });
  
  $(function() {
    // Blog is the app name
    window.router = new Once.Routers.PostsRouter({posts: Posts});
    Backbone.history.start();
  });