#posts.gray_bg
%table#post_pane.pane_1
  %td.pane_btns_1.panel_1
    %a{href: "/posts#/index"}
      %h2.block="CLOSE"
    %h2.block="LIKE"
    %h2.block="COMMENT"
  %td#post_pane_content.panel_1

:javascript
  posts_json = #{ @posts.to_json.html_safe };
  users_json = #{@users.to_json.html_safe};
  
  $(function() {
    // Blog is the app name
    window.router = new Once.Routers.PostsRouter({posts: posts_json, users: users_json});
    Backbone.history.start();
  });