.clr
  clear: both
  
.b0
  margin: 0.2em 0.4em 0.2em 0
.b1
  padding: 1em 0
  margin: 0.4em 0
  
.fm0
  margin-left: 10%

.float_left
  float: left
  
.float_right
  float: right
  
.iblock
  display: inline-block

.w100p
  width: 100%