.b
  font-weight: bold

.iblock
  display: inline-block
  
.margin_05t
  margin-top: 0.5em
  
.p
  font-size: 1em
  
.text_r
  text-align: right
.text_small
  color: #666
  font-size: 0.9em
  
.u
  text-transform: uppercase
  
.w100p
  width: 100%