// Small
@media screen and (max-width: 600px)
  body
    font-size: 0.8em
  .sm_full
    width: 100% !important
  .sm_hide
    display: none
    
//medium
@media screen and (max-width: 900px)
  body
    font-size: 1em
  .md_block
    display: block

//large
@media screen and (min-width: 1281px)
  body
    font-size: 1.2em