// Small
@media screen and (max-width: 500px)
  body
    font-size: 0.8em

    
//medium
@media screen and (max-width: 767px)
  body
    font-size: 1em
  .sm_full
    width: 100% !important
  .sm_hide
    display: none
  .sm_margin_0
    margin: 0 0 0 0 !important
  .md_block
    display: block
    float: none

//large
@media screen and (min-width: 1281px)
  body
    font-size: 1.2em