.editable
  background-color: #E8FFFB
  color: #555
  &:active, &:focus
    background-color: #fff
    color: inherit
    outline: 1px solid #A2EFE2
    
.text_small
  color: #666
  font-size: 0.9em
.text_smaller
  color: #888
  font-size: 0.8em