body
  background-color: #fff
  color: #444
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  line-height: 1.5
  
a
  &.vanilla
    color: #DC0077
    &:visited
      color: #980053
  &, &:hover
    text-decoration: none
  
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  color: #222
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 700
  letter-spacing: 0.05em
  word-spacing: 0.2em
h2, h3, h4, h5, h6
  display: inline-block
  line-height: 1.1
  margin-top: 1.5em
  margin-bottom: 0.5em
h1, .h1
  font-size: 1.8em
h2, .h2
  font-size: 1.5em
  color: #333  
h3, .h3
  color: #444
  font-size: 1.2em
  font-weight: 400
h4, .h4
  color: #444
  font-size: 1em
  font-weight: 400
  
p
  margin-bottom
    1.5em
  &.larger
    font-size: 1.2em
    line-height: 1.4em

.button
  &[inactive="true"]
    opacity: 0.6
.button_nav
  @extend .button
  @extend .h2
  
.editable
  background-color: #E8FFFB
  color: #555
  &:active, &:focus
    background-color: #fff
    color: inherit
    outline: 1px solid #A2EFE2
.editable_1
  display: inline-block
  margin: 1em 0
  min-width: 320px
  padding: 0.3em 16px
input.editable_1
  border-width: 0px
  min-width: 100%
  outline: none
  padding: 8px 12px
  &.h2
    padding: 3px 12px
  &:not(.h2)
    font-size: 1em
.editable_dd_1
  @extend .editable_1
  min-width: 0
  .dropdown-toggle
    cursor: pointer
.editable_label
  display: inline-block
  margin-left: -148px
  text-align: right
  vertical-align: top
  width: 144px
  &.normal
    margin-top: 25px
  &.tall
    margin-top: 39px

.form_1
  label
    display: inline-block
    width: 55px

.gray_bg
  background-color: #f5f5f5
.gray_lt_bg
  background-color: #f9f9f9
    
.pane_btns_1
  color: #333332
  padding-left: 1em
  position: absolute
  width: 180px
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, p
    color: #333332
    
.text_small
  color: #666
  font-size: 0.9em
.text_smaller
  color: #888
  font-size: 0.8em
  
.white_bg
  background-color: #fff