.editable
  background-color: #E8FFFB
  color: #555
  &:active, &:focus
    background-color: #fff
    color: inherit
    outline: 1px solid #A2EFE2

.form_1
  label
    display: inline-block
    width: 55px

.gray_bg
  background-color: #f5f5f5
.gray_lt_bg
  background-color: #f9f9f9
    
.pane_btns_1
  background-color: #333
  color: white
  opacity: 0.8
  text-align: center
  width: 300px
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, p
    color: white
    
.text_small
  color: #666
  font-size: 0.9em
.text_smaller
  color: #888
  font-size: 0.8em
  
.white_bg
  background-color: #fff