- cache "app_index", expires: 1.week do
  .gray_bg
    .post_1
      .c1.t1.gray_lt_bg
        %h1="OnceThis is for the things you love."
        
        
        -#
          %h2.block
          %h2="The things worth your time."
          %h2.block
          %h2="The things you want to come back to."
          %h2.block
          %h2="The things that make you want to grow."