- if current_user
  = link_to "Sign out", destroy_user_session, :class => ''
- else
  = link_to "Sign in", new_user_session_path, :class => ''
  = link_to "Register", new_user_registration_path, :class => ""
